body{
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 0%, rgba(0,212,255,1) 100%);
}

#menucell{
    display: none;
}

#navmenu{
    background-color: white;
}

#imglogomenu{
    height: 70px;
}

@media screen and (max-width: 992px) {
    #itemsmenu{
        display: none;
    }

    #menucell{
        display: flex;
    }

}

.container{
    margin-top: 5%;
    display: flex;
    justify-content: center;
}
.tbody{
    background-color: white;
    width: 60vw;
    /* margin-left: 35vh; */
    padding: 50px;
    border-radius: 10px;
    margin-bottom: 10%;
  
}

fieldset{
    border: solid 8px #000099;
    border-radius: 10px;
    text-align: center;
}

h2{
    color:#000099;
}

label{
    font-size: 15pt;
    margin-bottom: 100px;
}

#radioselect{
    color: #000;
    font-size: 15pt;
    margin-bottom: 100px;
}

#listmenucell{
    font-size: 20px;
}

.btn-grad {background-image: linear-gradient(to right, #000099 0%, #44449e  51%, #1b1bac  100%)}
.btn-grad {
    height: 50px;
    width: 100%;
    margin: 10px;
    padding: 15px 45px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    display: block;
 }

.btn-grad:hover {
    background-position: right center;
    color: #fff;
    text-decoration: none;
 }