*{
    padding: 0px;
	margin: 0px;
}
::-webkit-scrollbar{

    width: 12px;
}

::-webkit-scrollbar-thumb{
    background: rgb(200, 230, 245);
    border-radius: 6px;
}
::-webkit-scrollbar-thumb:hover{
    background: rgb(92, 160, 211);
    border-radius: 6px;
}
body{

	overflow-x: hidden;
}
/*tamanhos*/
	/*all*/
		.wnavbar{
		    width: 100vw;
		    height: 7vh;
		    display: flex;
		    flex-direction: row;
		    justify-content: space-around;
		    align-items: center;
		}
			.wlogo{ 
			    width: 4%;
			    height: 90%;
			    transition: all 0.25s;
			}
			.wlogo2{ 
				margin-left: -10vw;
			    width: 10%;
			    height: 90%;
			}
			.wlogo:hover{
				width: 3.5%;
				height: 100%;
			}
			.wnav{
				width: 40vw;
				display: flex;
				flex-direction: row;
				justify-content: space-around; 
			}
			.link{
				text-decoration: none;
				font-size: 3vh; 
			}
		.wslide{
			width: 100vw;
			height: 70vh; 
		}
		.wconteudo{
			margin-left: 10vw;
			margin-top: 5vh;
			width: 80vw;
			height: auto;
			display: flex;
			flex-direction: column;
			align-content: center;
		}
			.wln{
				margin-bottom: 20vh;
				width: 80vw;
				height: 60vh;
				display: flex;
				flex-direction: row;
			}
				.se{
					display: flex;
					flex-direction: row;
					width: 65%;
					height: 100%
				}
					.winfoa{
						width: 95%;
						height: 100%;
						display: flex;
						flex-direction: column;
						justify-content: center;
						justify-content: center;
						align-content: center;
						align-items: center;
					}
						.text{
							border: 0px;
							width: 70%;
							height: auto;
							font-family: monospace;
							font-weight: bold;
							font-size: 6vh;
						}
							legend{
								font-size: 9vh;
							}
					.winfob{
						margin-left: -1vw;
						width: 35%;
						height: 100%;
				        transform: skew(345deg) translateX(-70px);
					}
/*paleta*/
	.p1{
	    background-color: rgba(242, 238, 224, 0.5);
	}
	.p1_2{
	    background-color: rgb(196, 181, 155);
	}
	.p2{
	    background-color: rgba(200, 230, 245, 0.5);
	}
	.p3{
	    background-color: rgba(94, 10, 10, 0.5);
	}
	.p4{
		background-color: rgba(92, 160, 211, 0.5);
	}
	.p1a{
		background-color: rgb(242, 238, 224);
	}
/*peleta text*/
	.pc1{
	    color: rgba(242, 238, 224, 0.5);
	}
	.pc1_2{
	    color: rgb(196, 181, 155);
	}
	.pc2{
	    color: rgba(200, 230, 245, 0.5);
	}
	.pc3{
	    color: rgba(94, 10, 10, 0.5);
	}
	.pc4{
		color: rgba(92, 160, 211, 0.5);
	}
	.pc1a{
		color: rgb(242, 238, 224);
	}
/*responsive*/
	@media screen and (max-width: 992px){
		.wnavbar{
			width: 100vw;
		    height: 25vh;
		}
		.wnav{
			display: none;
		}
		.wlogo{
			width: 25vw;
		}
		.wlogo2{
			display: none;
		}
		.wslide{
			height: 50vh;
		}
		.wln{
			height: 45vh;
			margin-bottom: 5vh;
		}
	}
	@media screen and (max-width: 760px){
		.wnavbar{
			width: 100vw;
		    height: 25vh;
		}
		.wlogo{
			width: 55vw;
		}
		.wslide{
			height: 30vh;
		}
		.wln{
			height: 25vh;
			margin-bottom: 5vh;
		}
	}
/*imgs*/
	#img1{
		background-image: url('#');
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
		background-attachment: fixed;
	}