#navmenu{
    box-shadow: 1px 0.1px 1px black;
}

#menucell{
    display: none;
}

#navmenu{
    background-color: white;
}

#imglogomenu{
    height: 70px;
}

#buttom1{
    border: 0.5px solid white;
    color: white;
    
}

#buttom1:hover{
    color: black;
    background-color: white;
}

#maincss{
    background-image: url('./images/ed/ed_wallpaper.jpg');
    background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
}

@media screen and (max-width: 992px) {
    #itemsmenu{
        display: none;
    }

    #menucell{
        display: flex;
    }
}

#infodes1{
    
    height: 50vh;
    border: 1px solid rgb(209, 209, 209);
}